html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
  margin: 44px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-family: 'Quella', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li {
  margin: 0 24px;
  font-size: 18px;
  font-weight: 500;
}
header .header-left {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
header .header-right {
  width: 20vw;
}


.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 96px;
  font-family: 'Poppins', sans-serif;
  background-color: #C1DCDC;
  border-radius: 24px;
  padding: 48px 48px 0 48px;
}
.banner .banner-text {
  margin-bottom: 125px;
}
.banner .banner-text h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}
.banner .banner-text-mid {
  display: flex;
  margin: 24px 0;
}
.banner .banner-text .banner-text-mid .banner-text-mid-num {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.banner .banner-text .banner-text-mid .banner-text-mid-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.banner .banner-text-mid .species {
  margin-right: 48px;
  padding-right: 48px;
  border-right: 1px solid #1E1E1E;
}
.banner .banner-text .search-bar input {
  margin-top: 24px;
  padding: 18px;
  background: #FFFFFF;
  border: none;
  border-radius: 12px;
  width: 35vw;
}
.banner .banner-text .search-bar {
  position: relative;
}
.banner .banner-text .search-bar img {
  position: absolute;
  top: 40%;
  right: 2%;
  background-color: #C1DCDC;
  padding: 10px;
  border-radius: 12px;
}
.banner .banner-picture .arrow {
  object-fit: cover;
  max-width: 25%;
  max-height: 25%;
}
.banner .banner-picture {
  width: 50vw;
  display: flex;
  align-items: end;
  position: relative;
}
.banner .banner-picture .plant {
  background-image: url('./image/bannerDot.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  display: flex;
  justify-content: center;
}
.banner .banner-picture .arrow-left {
  margin-bottom: 15vh;
}
.banner .banner-picture .arrow-up {
  position: absolute;
  top: 0;
  right: 0;
}


.best-selling {
  margin: 96px 96px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}
.best-selling p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
}
.best-selling .selling-text {
  width: 20vw;
}
.best-selling .selling-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1E1E1E;
}
.best-selling .selling-text p {
  margin: 12px 0 24px;
}
.best-selling .selling-text button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  background: #C1DCDC;
  border: none;
  border-radius: 8px;
}
.best-selling .selling-text button img {
  margin-left: 12px;
}
.best-selling .selling-products {
  width: 60vw;
}
.best-selling .selling-products ul {
  display: flex;
  justify-content: end;
}
.best-selling .selling-products ul li {
  margin-left: 3vw;
}
.best-selling h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 12px 0 7px;
}

